html {
    overflow-y: scroll;
}

body {
    background-color: #FFFFFF;
    background-image: url("/images/gradientfromtop.gif");
    background-repeat: repeat-x;
    color: #000000;
    font-size: 12px;
    margin: 0;
}

body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
    font-family: verdana,helvetica,arial,sans-serif;
}

h1 {
    font-size: 200%;
    font-weight: normal;
    margin-top: 0;
}

h2 {
    font-size: 160%;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    background-color: transparent;
    color: #000000;
}

iframe {
    margin: 0;
}

div {
    width: 100%;
}

.notsupported, .notsupported:hover, .notsupported:active, .notsupported:visited, .notsupported:link {
    color: #C58080;
}