body {	
	max-width: 960px;
	margin: auto;
	font: .93em/1.34em sans-serif;
}


#header {
    min-height: 26px;
	background: -moz-linear-gradient(top, #66d, #44b);
/*    background-image: url("../images/navbar_bg.png");
    background-position: center bottom;
    background-repeat: repeat-x;
*/    
    margin: 0px 0px 1px 0px;
    border: 0px;
	padding: 1px 0px 1px 0px;
	overflow: hidden;
}

#block-image-link-image-link {
    margin: 0;
    border: 0;
	padding: 2px 0px 0px 0px;
	height: 23px;
	width: 176px;
	float: left;
}

#block-nice-menus-1 {
    margin: 0;
    border: 0;
	padding: 0;
	width: 50%;
	/* auto-margins are used to center the menu, but it requires a width to be set */
	margin-left: auto;
	margin-right: auto;
}

#block-search-form {
	display: inline;
	margin: 0;
    border: 0;
	padding: 0;	
	float: right;
}

#sidebar {
	float: left;
	width: 172px;
}

#content {
	max-width: 768px;
	margin-left: 178px;
}

#footer {
	float: left;
	clear: both;
    color: #909090;
    font-size: 90%;
    margin: 0;
    padding: 0 20px 10px;
    text-align: center;
}

div.node {
	display: inline;
	float: left;
	width: 230px;
	height: 400px;
	border: solid 1px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 2px 5px 2px #aaaaaa;
	-webkit-box-shadow: 2px 5px 2px #aaaaaa;
    -moz-box-shadow: 2px 5px 2px #aaaaaa;
	border-color: #AAA;
}
div.node h2 {
	margin: 5px 5px 5px 5px;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 1.1em;
}

/* Get rid of the borders and background colour for all top-level menu items: */

ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li {
	border: 0;
	display: inline;
	background: #44b;
}

#nice-menus-1,
li.menuparent li, 
li.menuparent ul {
	background: none;
}

ul.nice-menu a {
	font: .93em/1.34em sans-serif;
	background: #44b;
	background: -moz-linear-gradient(top, #66d, #44b);
	background: -webkit-gradient(linear, left top, left bottom, from(#66d), to(#44b));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6666dd', endColorstr='#4444bb');
    color: #eee;
	text-decoration: none;
	font-weight: lighter;
}

/* Don't have one of these...
ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent { 
	background: url('arrow-right.png') right center no-repeat;
}
*/

div.field {
	height: 260px;
	overflow: hidden;
}

.links.inline {
	padding-left: 10px;
	font-size: x-small;
	margin-left: 5px;
	bottom: 5px;
	line-height: 1.5em;
}
 
  
#block-system-main {
}

